{% extends 'default/base.html' %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container main-container">
        <ol class="breadcrumb">
            <li><a href="/">首頁</a></li>
            <li class="active">{{ recipe.title }}></li>
        </ol>
        <div>
            <h4>{{ recipe.title }}</h4>
            <img src="{{ recipe.image_path }}">
            <p>{{ recipe.description }}</p>
        </div>
    </div> <!-- /container -->
{% endblock %}
